
$primaryColor: #feffe6;
$secondaryColor: #b7eb8f;
$highlightColor: #fffb8f;
$coolGray: #595959;
$coolLighterGray: #f5f5f5;
$coolDarkerGray: #1f1f1f;

// Pallete
$imdbYellow: #F5C518; 
$themeYellow: #FCF536; // #F5C518; 
$onyx: #2E3532;
$ebony: #545E56;
$themeBlack: #000000;
$raisinBlack: #1E1E24;
$verdigris: #50C5B7; // #48A9A6 //#50C5B7
$myrtleGreen: #587B7F;
$fireRed: #DB162F;
$miniPink: #FFDDE2;

$babyPowder: #FBFEFB;
$oxfordBlue: #011529;
$redPantone: #E71D36;
$orangePeel: #FF9F1C;
$aquamarine: #78FECF;




:export {
  onyx: $onyx;
  primaryColor: $primaryColor;
  secondaryColor: $secondaryColor;
  coolGray: $coolGray;
  coolLighterGray: $coolLighterGray;
  coolDarkerGray: $coolDarkerGray;
  highlightColor: $highlightColor;
  primary: $themeYellow;
  primaryVariant: $highlightColor;
  secondary: $verdigris;
  secondaryVariant: $myrtleGreen;
  bg: $verdigris;
  surface: $ebony;
  error: $fireRed;
  onPrimary: $themeBlack;
  onSecondary: $themeBlack;
  onBg: $themeBlack;
  onSurface: white;
  onError: white;
  pink: $miniPink;
  sdmnPink: #FD93B2;
  sdmnLightBlue: #5BD6ED;
  sdmnDarkBlue: #0F7BD1;
  sdmnYellow: #FCF536;
  sdmnWhite: white;
  sdmnBlack: black;
  babyPowder: $babyPowder;
  oxfordBlue: $oxfordBlue;
  redPantone: $redPantone;
  orangePeel: $orangePeel;
  aquamarine: $aquamarine;

  oxfordBlueSofter: #021F3C;
  oxfordBlueSofter1: #022950;
  oxfordBlueSofter10: #9CCCFC;
  oxfordBlueSofter8: #60ABFB;

  richBlack: #0C1618;
  richBlackSofter: #1f1f1f;
  brunswickGreen: #004643;
  cornsilk: #FAF4D3;
  keepel: #58B09C;
  cerise: #E34A6F;
  coolerGray: #8C93A8;
  coolerGray0: #09090C;
  coolerGray1: #121317;
  coolerGray2: #1A1C23;
  coolerGray3: #23262F;
  coolerGray4: #2C2F3A;
  coolerGray5: #585F74;
  coolerGray6: #606880;
  coolerGray7: #7F879F;
  coolerGray8: #C5C8D3;
  coolerGray9: #E8E9ED;
  coolerGray10: #F3F4F6;

  freq1: #161B21;
  freq2: #0D4428;
  freq3: #096D32;
  freq4: #27A741;
  freq5: #3AD354;


}

// antigo #FCF536 
// novo #FCF536

