body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-empty .ant-empty-description {
  color: black;
}

.statsFormulaContainer {
  width: 550px;
  height: 450px;
  overflow-y: auto;
}

.statsFormulaContainer >
  table, tr, td {
      width: 550px;
      font-size: 13px;
      padding: 2px;
  }


@media (max-width: 600px) {
  .titleStatsFormulaContainer {
    width: 320px;
  }
  .statsFormulaContainer {
      width: 320px;
      height: 335px;
  }

  .statsFormulaContainer >
      table, tr, td {
          width: 320px;
          font-size: 12px;
          padding: 2px;
          
  }

}